<div class="row" *ngIf="loading">
  <div class="col-xs-12">
    <div class="progress loop">
      <progress></progress>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-12" *ngIf="message && !loading">
    <h3 class="txt text-danger">
      {{message}}
    </h3>
  </div>
</div> -->

<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3">
    <div class="card segment">
      <div class="card-block">
        <h3 class="card-title">POSTS</h3>
        <div class="card-text">
          {{countData?.posts || 0 | number}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
    <div class="card segment">
      <div class="card-block">
        <h3 class="card-title">PLEDGES</h3>
        <div class="card-text">
          {{countData?.pledges || 0 | number}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
    <div class="card segment">
      <div class="card-block">
        <h3 class="card-title">TESTIMONIALS</h3>
        <div class="card-text">
          {{countData?.testimonisals || 0 | number}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
    <div class="card segment">
      <div class="card-block">
        <h3 class="card-title">SUGGESTIONS</h3>
        <div #perc class="card-text">
          {{ countData?.suggestions || 0 | number}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3">
    <div class="card segment">
      <div class="card-block">
        <h3 class="card-title">PRODUCTS</h3>
        <div class="card-text">
          {{countData?.products || 0 | number}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
    <div class="card segment">
      <div class="card-block">
        <h3 class="card-title">ORDERS</h3>
        <div class="card-text">
          {{countData?.orders || 0 | number}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
    <div class="card segment">
      <div class="card-block">
        <h3 class="card-title">COMMENTS</h3>
        <div class="card-text">
          {{countData?.comments || 0 | number}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
    <div class="card segment">
      <div class="card-block">
        <h3 class="card-title">USERS</h3>
        <div #perc class="card-text">
          {{ countData?.users || 0 | number}}
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="row">
    <div class="card segment login">
      <div class="card-block">
        <!-- <h3 class="card-title">Model Creation Overview</h3> -->
        <div class="card-text">
          <div class="row">
            <div class="col-lg-2 col-sm-12">
              <!-- <div class="select"> -->
                <select class="sel" style="margin-bottom: .5rem;"
                  [(ngModel)]="month">
                  <option disabled="true" value="Select MDA" [selected]="true">Select Month</option>
                  <option *ngFor="let mda of months; let i = index" [value]="i">
                    {{ mda | titlecase }}
                  </option>
                </select>
              <!-- </div> -->
            </div>
            <div class="col-lg-2 col-sm-12">
              <!-- <div class="select"> -->
                <select style="margin-bottom: .5rem;" class="sel" [(ngModel)]="year">
                  <option disabled="true" [selected]="true" value="Select Period">Select Year</option>
                  <option *ngFor="let mda of years" [value]="mda">
                      {{ mda }}
                    </option>
                </select>
              <!-- </div> -->
            </div>
            <div class="col-lg-2  col-sm-12">
              <button [disabled]="!month && !year" class="btn btn-primary btn-block" style="height: 2rem; width: 100%;" (click)="getActivityTrend()">
                FETCH
              </button>
            </div>
          </div>
          <br>
          <div class="row">
            <div appChart id="daytopchart" class="col-xs-12">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fab2">
  <clr-icon (click)="getStats()" shape="refresh" size="20"></clr-icon>
</div>
