.dropZone{
    border-radius: 0;
    border-color: black;
    border-style: dashed;
    border-width: thin;
    margin-bottom: 10px;
    text-align: center;
}


.media-item {
    max-width: 50;
    max-height: 300px;
    height: 300;
    width: 300;
}